nav {
    background-color: #ab7ed4;
    padding: 10px;
    margin-bottom: 10px;
}
nav a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.log-out {
    position: absolute;
    right: 0;
    cursor: pointer;
}